<div class='container'>
  <div class="row">
    <div class="col-md-8">
      <h1>Job Details</h1>
      <table class="table-condensed">
        <tbody>
          <tr><td><strong>Title</strong>: <%= @job.title %></tr>
          <tr><td><strong>Level of Interest</strong>: <%= @job.level_of_interest %></tr>
          <tr><td><strong>Location</strong>: <%= @job.city %></tr>
          <tr><td><strong>Company</strong>: <%= link_to @job.company.name, company_jobs_path(@company) %></tr>
        </tbody>
      </table>
    </div>

    <% @job.tags.each do |tag| %>
      <%= tag.title %>
      <%= "Tag count: #{tag.jobs.count}" %>
      <% end %>

    <div class="col-md-4">
      <%= render partial: 'comments/form' %>
    </div>
  </div>

  <hr>

  <div class="row">
    <h3>Comments</h3>
    <%= render partial: 'companies/jobs/comment', collection: @job.comments.order('created_at DESC') %>
  </div>
</div>
