<h1>Welcome to Job Tracker</h1>
<h3>Find a company or start a new one, then add jobs, contacts, and notes</h3></br></br>

<h4>What Kind of Job Do You Want?</h4>
<h5>You've added:</h5>
  <ul>
    <p><%= @high_interest %> jobs with <strong>high</strong> interest levels,</p>
    <p><%= @medium_interest %> jobs with <strong>medium</strong> interest levels,</p>
    <p>and <%= @low_interest %> back-up plans!</p>
  </ul></br></br>

<h4>Who Should You Work For?</h4>
<h5>These are the companies you're most interested in:</h5>
  <ul>
    <% @interest_averages.each do |company, interest| %>
      <p><strong><%= company %></strong>, with an average interest rating of <strong><%= interest %></strong></p>
    <% end %>
  </ul></br></br>

  <h4>Where Should You Look?</h4>
  <h5>Here's where all your jobs are based:</h5>
    <ul>
      <% @city_counts.each do |city, count| %>
        <p><strong><%= count %></strong> jobs in <strong><%= link_to city, "/companies/12/jobs?location=#{city}" %></strong></p>
      <% end %>
    </ul>



