<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'home/index', media: 'all', 'data-turbolinks-track' => true %>
    <title>JobTracker</title>
  </head>
  <body>
    <ul>
    <% @jobs.each_pair do |(key,value)| %>
    <li>Level of interest: <%= key %> </li>
    <li>Number of jobs: <%= value %></li>
    <% end %>
    <li><%= link_to "Jobs by interest level", "/jobs?sort=interest" %></li>
  </ul>
  <ol>
    <h1>Top 3 companies</h1>
    <% @companies.each do |company| %>
    <li>Name: <%= company.name %></li>
    <li>Average level of interest: <%= company.average_interest %></li>
    <% end %>
    </ol>
  <ul>
    <h1>Cities</h1>
    <% @cities.each do |city| %>
    <li>Name: <%= city.name %>, <%= city.state %></li>
    <li>Jobs per city: <%= city.jobs_count %></li>
    <li><%= link_to "Check out the jobs", "/jobs?sort=#{city.name}" %></li>
    <% end %>
  </ul>
  </body>
</html>
