<h1 class="text-center">jobs dashboard</h1>

<div class="row">
  <div class="col-md-4 dashboard">
    <div class="category">
      <%= link_to "jobs by location", "/jobs?sort=location", class: "job-name" %>
    </div>
  </div>
  <div class="col-md-4 dashboard">
    <div class="category">
      <%= link_to "jobs by interest level", "/jobs?sort=interest", class: "job-name" %>
    </div>
  </div>
  <div class="col-md-4 dashboard">
    <div class="category">
      <%= link_to "jobs in Denver", "/jobs?location=Denver", class: "job-name" %>
    </div>
  </div>
</div>

<h2 class="text-center">top companies by level of interest</h2>

<ul>
  <% @payload[:top_companies].each do |key, value| %>
    <div class="company row">
      <p><span class="company-name"><%= link_to key.name, company_jobs_path(key) %></span> Average Level of Interest: <%= value.to_i %></p>
    </div>
  <% end %>
</ul>

<h2 class="text-center">jobs by interest level</h2>

<ul>
  <% @payload[:interest_levels].each do |key, value| %>
    <div class="category row">
      <p>interest level: up to <%= key %>, <%= value %> jobs</p>
    </div>
  <% end %>
</ul>

<h2 class="text-center">jobs by location</h2>

<ul>
  <% @cities.each do |key, value| %>
    <div class="city row">
      <li class="city-name">
        <%= link_to "#{key}, #{value}", "/jobs?location=#{key}" %>
      </li>
    </div>
  <% end %>
</ul>
