<h3>Dashboard</h3>
<hr>
<div class="row">

    <table class="level_of_interest table">
     <th>Jobs by Interest Level</th><th>Count</th>
    <% @count_by_interest.each do |level, count| %>
      <tr>
        <td><%= level %></td><td><%= count %></td>
      </tr>
    <% end %>
    </table>


    <h3>Top Three Companies</h3>
    <ul class="top_3 list-unstyled">
      <% @top_3_by_average_interest.each do |company| %>
        <li><%= link_to company.name, company_path(company) %>: <%= company.average_level_of_interest %></li>
      <% end %>
    </ul>


    <h3>Jobs in Each Location</h3>
    <ul class="by_location list-unstyled">
       <% @count_by_location.each do |city, count|  %>
         <li><%= link_to city, "/jobs?location=#{city}" %>: <%= count %></li>
       <% end %>
    </ul>

</div>
