<div class="title"><h1>Welcome to JobTracker</h1></div>
<div class="subtitle"><h3>Find a company or start a new one, then add jobs, contacts, and notes</h3></div></br></br>

<div class="row">
  <div class="col-md-4">
    <h3>What Kind of Job Do You Want?</h3>
    <div class="blurb">
    </br>
      <h4>You've added:</h4>
          <p><%= @high_interest %> jobs with <strong>high</strong> interest levels,</p>
          <p><%= @medium_interest %> jobs with <strong>medium</strong> interest levels,</p>
          <p>and <%= @low_interest %> back-up plans.</p></br></br>
      </div>
    </div>
  <div class="col-md-4">
    <h3>Where Should You Look?</h3>
    <div class="blurb">
    </br>
    <h4>Here's where all your jobs are based:</h4>
        <% @city_counts.each do |city, count| %>
          <p><strong><%= count %></strong> jobs in <strong><%= link_to city, "/companies/#{@companies.first.id}/jobs?location=#{city}" %></strong></p>
        <% end %></br>
      </div>
  </div>
  <div class="col-md-4">
    <h3>Who Should You Work For?</h3>
    <div class="blurb">
    </br>
    <h4>These are the companies you're most interested in:</h4>
        <% @interest_averages.each do |company, interest| %>
          <p><strong><%= link_to company.name, company_path(company) %></strong>, with an average interest rating of <strong><%= interest %></strong></p>
        <% end %></br></br>
      </div>
  </div>
</div>



