<%= form_for [@company, @job, @comment], :html => {:class => "form-horizontal center"} do |f| %>
  <%= render partial: "shared/errors", locals: { target: @comment } %>

  <div class="form-group">
    <%= f.label :content, class: "control-label" %>
    <%= f.text_area :content, class: "form-control", placeholder: "Comment" %>
  </div>

  <div class="form-group submit-button">
    <%= f.submit "Submit", class: "btn btn-success btn-block" %>
  </div>
<% end %>
