<p id="notice"><%= notice %></p>

<p>
    <b>Name:</b>
    <%= @job.company.name %>
</p>

<p>
    <b>Title:</b>
    <%= @job.title %>
</p>

<p>
    <b>Content:</b>
    <%= @job.comments %>
</p>

<h2>Add a comment:</h2>

<%= render partial: "form" %>
