<div class="container">
  <div class="col-md-6">
    <%= bootstrap_form_for [@company, @job] do |f| %>

    <%= f.text_field :title %>

    <%= f.text_field :description %>

    <%= f.number_field :level_of_interest %>

    <%= f.collection_select :category_id, @categories.order(:title),:id, :title, include_blank: false %>

    <%= link_to "New Category", new_category_path, class: "btn-sm btn-primary"%><br><br>

    <%= f.text_field :city %>

    <%= f.submit nil, class: "btn btn-success" %>
    
    <% end %>
  </div>
</div>
