<% if @job.errors.any? %>
<h2><%= pluralize(@job.errors.count, "error") %> prohibited this record from being saved:</h2>
<ul><% @job.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
  <% end %>

  <div>
    <%= form_for [@company, @job] do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control", placeholder: :title %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class:"form-control", placeholder: :description %>
    </div>
    <div class="form-group">
      <%= f.label :level_of_interest %>
      <%= f.number_field :level_of_interest,class:"form-control", placeholder: :level_of_interest %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.collection_select :city_id, City.all, :id, :name %>
    </div>
    <div class="form-group">
      <%= f.label :categories %>
      <%= f.collection_select :category_id, Category.all, :id, :title %>
    </div>
    <div class="form-group">
      <%= f.submit %>
    </div>
    <div class="form-group">
      <%= button_to "Create a new category", new_category_path %>
    </div>
    <% end %>
  </div>
