<%= form_for [@company, @job] do |f| %>
  <div class="form-group">
  <%= f.text_field :title, class: "form-control", placeholder: :title %>
  </div>

  <div class="form-group">
  <%= f.text_field :description, class: "form-control", placeholder: :description %>
  </div>

  <div class="form-group">
  <%= f.number_field :level_of_interest, class: "form-control", placeholder: :level_of_interest %>
  </div>

  <div class="form-group">
  <%= f.text_field :city, class: "form-control", placeholder: :city %>
  </div>

  <div class="form-group">
  <%= f.label :category %>
  <%= f.collection_select(:category_id, Category.all, :id, :title, prompt: true, class: "form-control") %>
  <%= link_to "New Category", new_category_path, class: "new-button" %>

  </div>

  <div class="form-group">
  <%= f.submit class: "update-button" %>
  </div>
<% end %>
