<%= form_for [@company, @job], :html => {:class => "form-horizontal center"} do |f| %>
  <%= render partial: "shared/errors", locals: { target: @job } %>

  <div class="form-group">
    <%= f.label :title, class: "control-label" %>
    <%= f.text_field :title, class: "form-control", placeholder: "Job Title" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_field :description, class: "form-control", placeholder: "Job Description" %>
  </div>

  <div class="form-group">
    <%= f.label :level_of_interest, class: "control-label" %>
    <%= f.number_field :level_of_interest, class: "form-control", placeholder: "0 - 100  (0 is low, 100 is high)" %>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "control-label" %>
    <%= f.text_field :city, class: "form-control", placeholder: "City" %>
  </div>

  <div class="form-group" style="margin-bottom: 0px;">
    <%= f.label "Category", class: "control-label" %>
    <%= f.collection_select :category_id, Category.all, :id, :title, :prompt => 'Select Category' %>
  </div>
  <%= link_to "Add Category", new_category_path %>

  <div class="form-group submit-button">
    <%= f.submit "Submit", class: "btn btn-success btn-block" %>
  </div>

<% end %>
