<h1> All Jobs </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Job Title" %></th>
      <th><%= "Location" %></th>
      <th><%= "Level of Interest" %></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.city %></td>
        <td><%= job.level_of_interest %></td>
      </tr>
    <% end %>
  </tbody>
</table>
