<h2>All Jobs for <%= @company.name %></h2>

<% @jobs.each do |job| %>
  <ul class='job-<%="#{job.id}"%>'><%= job.title %> at <%= job.company.name %></ul>
  <%= link_to "Delete Job", company_job_path(@company, job), method: :delete %>
<% end %>
