<h2>All Jobs for <strong><%= @company.name %></strong></h2>

<% @jobs.each do |job| %>
  <ul>
    <li><%= link_to "#{job.title} at #{job.company.name}", company_job_path(@company, job) %></li>
  </ul>
<% end %>
<br>

<%= link_to "New Job", new_company_job_path(@company, @job), class: "btn-sm btn-success"%>

<%= link_to "Back to Companies", companies_path, class:"btn-sm btn-primary"%>

<br><br>

<%= link_to "Edit #{@company.name}", edit_company_path(@company), class: "btn-sm btn-warning"%>

<%= link_to "Delete #{@company.name}", company_path(@company), method: "delete", class: "btn-sm btn-danger",
data: {confirm: "Are you sure? This will delete all associated jobs and contacts."}%>