<div class='container'>
<%= link_to "Add a New Job", new_company_job_path(@company), class: "btn btn-success pull-right" %>

<h3>All Jobs for <strong><%= @company.name %></strong></h3>
<hr>
<div class="row">
  <div class="jobs">
    <% @jobs.each do |job| %>
      <ul class="job_<%= job.id %> col-md-4">
        <%= link_to job.title, company_job_path(@company, job.id) %> at <%= job.company.name %><br>
        <div class="btn-group">
        <%= link_to "Edit", edit_company_path(@company, job), class: "btn btn-success" %>
        <%= link_to "Delete", company_job_path(@company, job), method: "delete", class:"btn btn-danger" %>
      </ul>
    <% end %>
  </div>
</div>
</div>
