<h1><%= @company.name %></h1>
<h2>jobs</h2>

<ul>
  <% @jobs.each do |job| %>
    <div class="job row">
      <li class="job_<%=job.id%>">
        <%= link_to job.title, company_job_path(@company, job), class: "job-#{job.id} job-name" %>
        <div class="pull-right">
          <%= link_to "Delete", company_job_path(@company, job), method: :delete %>
          <%= link_to "Edit", edit_company_job_path(@company, job) %>
        </div>
      </li>
    </div>
  <% end %>
</ul>


<h2>contacts</h2>

<ul>
  <% @company.contacts.each do |contact| %>
    <div class="contact row">
      <li class="contact_<%= contact.id %>">
        <%= link_to contact.name, company_contact_path(@company, contact), class: "contact-name" %>
        <div class="pull-right">

          <%= link_to "Delete", company_contact_path(@company, contact), method: :delete %>
          <%= link_to "Edit", edit_company_contact_path(@company, contact) %>

        </div>
    </div>
  <% end %>
</ul>
