<h1>All Jobs for <strong><%= @company.name %></strong></h1>
<h5><%= link_to "Sort Jobs by Location", "/companies/#{@company.id}/jobs?sort=location" %></h5>
<h5><%= link_to "Sort Jobs by Interest Level", "/companies/#{@company.id}/jobs?sort=interest" %></h5>
</br></br>
<% @jobs.each do |job| %>
  <ul><%= job.title %> at <%= job.company.name %></br>
  <%= job.city %></br>
  Level of interest: <%= job.level_of_interest %></ul></br>
    <li><%= link_to "Edit", edit_company_job_path(@company, job) %></li>
    <li><%= link_to "Delete", company_job_path(@company, job), method: "delete" %></li>
    </br></br>

<% end %>
