Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

<h3><%= link_to "Delete", company_job_path(@company,@job), method: :delete, data: {confirm: "Arse you sure you want to delete this job?" } %></h3>

Company: <%= link_to @job.company.name, company_path(@company) %>
