<div class='container'>
Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<h4>Comments</h4>
<%= render partial: 'jobs/comment', collection: @job.comments.reverse %>

<div class="btn-group">
<%= link_to "Add a New Comment", new_company_job_comment_path(@job.company, @job), class: "btn btn-success" %>
<%= link_to "Delete this Job", company_job_path(@job.company, @job), method: :delete, class:"btn btn-danger" %>
</div>
</div>
