Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<br>

Category: <%= link_to @job.category.title, category_path(@job.category) %>
<br>

<%= link_to 'Delete', company_job_path(@company.id, @job.id), method: :delete %>
<br>

Tags: 
<% @job.tags.each do |tag| %>
  <%= link_to tag.title, tag_path(tag) %>
<% end %>
<br>

Comments: <%= render partial: 'jobs/comment', collection: @job.comments.reverse %>

<h3> Add a comment </h3>
<%= form_for [@company, @job, @comment] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>
