<h2>Title: <strong><%= @job.title %></strong></h2><br>

<h4> Description: <strong> <%= @job.description %> </strong> </h4>
<br>

<h4> Level of Interest: <strong> <%= @job.level_of_interest %> </strong> </h4>
<br>

<h4> City: <strong> <%= @job.city %> </strong> </h4>
<br>

<h4> Company: <strong/> <%= link_to @company.name, company_path(@company) %> </strong> </h4>
<br>

<h4> Category: <strong/> <%= link_to "#{@job.category.title}", category_path(@job.category)%></h4>
<br>

<%= link_to "Back to All Companies", companies_path, class:"btn-sm btn-primary"%></strong></h4>

<%= link_to "Delete", company_job_path(@company, @job), method: "delete", class: "btn-sm btn-danger",
data: {confirm: "Are you sure? This will also delete all comments associated with the company."} %>

<%= link_to "Edit", edit_company_job_path(@company, @job), class: "btn-sm btn-warning"%>

