<h3 class="text-center">Title: <%= @job.title %><br />

Description: <%= @job.description %><br />

Level of Interest: <%= @job.level_of_interest %><br />

City: <%= @job.city %><br />

Category: <%= link_to @job.category.title, category_path(@job.category) %><br />

Company: <%= link_to @job.company.name, company_path(@job.company) %><br /><br />

Tags: <% @tags.each do |tag| %>
    <%= "#{tag.title} - #{tag.jobs.count}" %>
    <% end %>

<%= link_to "Delete", company_job_path(@job.company, @job), method: :delete, class:"btn btn-danger" %>
<%= link_to "Edit", edit_company_job_path(@job.company, @job), class: "btn btn-success" %>
<% @job_order.each do |comment| %>
<p><%= comment.content %></p>
<p><%= time_ago_in_words(comment.created_at) %> ago</p>
<% end %>
<%= render partial: "/comments/form" %></h3>
