<%= link_to "Back to Jobs list", company_jobs_path %><br />
<%= link_to "Edit", edit_company_job_path(@job.company, @job) %>
<%= link_to "Delete", company_job_path(@job.company, @job), method: :delete %><br />

Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %><br />
Category: <%= @job.category.nil? ? 'not assigned' : @job.category.title %>
<br>
Comments:
<% @job.comments.each do |comment| %>
<%= comment.content %><br />
<% end  %>
<br>

<%= render partial: 'jobs/comment', collection: @job.comments.reverse %>
<%#= render partial: 'comments/form'  %>

<%= form_for [ @company, @job, @comment ] do |f| %>
<p>
  <%= f.label :content %><br/>
  <%= f.text_area :content %>
</p>
<p>
  <%= f.submit "Submit" %>
</p>
<% end %>
