<div class="back-link">
  <span>&#10094;</span>
  <%= link_to "Back to #{@job.company.name}", company_path(@job.company) %>
</div>

<table class="index-display">
  <tr>
    <th>Title</th>
    <td><%= @job.title %></td>
    <td>
      <div class="edit-item">
        <%= link_to "Edit", edit_company_job_path(@job.company, @job) %>
      </div>
    </td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @job.description %></td>
    <td>
      <div class="delete-item">
        <%= link_to "Delete", company_job_path(@job.company, @job), method: :delete %>
      </div>
    </td>
  </tr>
  <tr>
    <th>Level of Interest</th>
    <td><%= @job.level_of_interest %></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%= @job.city %></td>
  </tr>
  <tr>
    <th>Company</th>
    <td><%= link_to @job.company.name, company_path(@job.company) %></td>
  </tr>
</table>

<h2>Comments</h2>
<hr>

<% @job.comments.order(created_at: :desc).each do |comment| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= time_parse(comment.created_at) %></div>
    <div class="panel-body">
      <%= comment.content %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= form_for [@job, @comment] do |f| %>
      
      <div class="form-group">
        <%= f.label :new_comment%>
        <%= f.text_area :content, class: "form-control"  %>
      </div>

      <%= f.submit class: "btn btn-primary" %>

    <% end %>
  </div>
</div>