<div class="container">
  <h3>Top <%= @top_companies.count%> Companies by Level of Interest</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Average Level of Interest</th>
        <th>Company</th>
      </tr>
    </thead>

    <tbody>
      <% @top_companies.each_with_index do |company, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= company.average_level_of_interest %></td>
        <td><%= link_to company.name, company_path(company)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div class="container">
  <h3>Number of Jobs by Level of Interest</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Level of Interest</th>
        <th>Job Count</th>
      </tr>
    </thead>

    <tbody>
      <% @job_count_by_interest.each do |level, count| %>
      <tr>
        <td><%= level %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<div class="container">
  <h3>Number of Jobs by Location</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>City</th>
        <th>Job Count</th>
      </tr>
    </thead>

    <tbody>
      <% @job_count_by_location.each do |location, count| %>
      <tr>
        <td><%= link_to location, jobs_path(:location => location) %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
