<h3>Add a Contact</h3>

<div class='container'>
  <%= form_for [@company, @contact] do |f| %>
  <div class='container'>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div><br>
  <div class='container'>
    <%= f.label :position %><br>
    <%= f.text_field :position, size: "30x15" %>
  </div><br>
  <div class='container'>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div><br>
    <%= f.submit %>
  <% end %>
</div>
<br>
<br>
<br>
