<div class="form-group">
<h3>Create a New Contact for this Company</h3>
<br/>
<%= form_for [@contact] do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>

  <%= f.label :position %>
  <%= f.text_field :position %>
  <br/>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= hidden_field_tag :company_id, @company.id %>
  <br/>
  <%= f.submit %>
<% end %>
</div>
