<div id="contact_form">
  <%= form_for [@company, @contact] do |f| %>
  <% if @contact.errors.any? %>
  <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this record from being saved:</h2>
  <ul><% @contact.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :position %>
    <%= f.text_field :position %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit %>
    <% end %>
  </div>
