<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <header>
    <h3>Company: <%= @company.name %></h3>
  </header>
  <body>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Contact Name</th>
        <th>Position</th>
        <th>Email</th>
        <th>Edit Contact</th>
        <th>Delete Contact</th>
      </tr>
    </thead>
    <tbody>
      <th scope="row" id="total entries"></th>
      <% @company.contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.position %></td>
        <td><%= contact.email %></td>
        <td><%= link_to "Edit", edit_company_contact_path(@company, contact) %></td>
        <td><%= link_to "Delete", company_contact_path(@company, contact), method: :delete, data: {confirm: "Are you sure?"}%></td>
      </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
