<h1> <%= @contact.name %> </h1>
<p> at </p>
<h1> <%= @company.name %> </h1>
<p> position </p>
<h1> <%= @contact.position %> </h1>
<p> email </p>
<h1> <%= @contact.email %> </h1>
<p> notes </p>
<h1> <%= @contact.notes %> </h1>