<div class="card">
  <h3 class="card-header">Company: <%= @company.name %></h3>
  <div class="card-block">
    <h4 class="card-title"> Name: <%= @contact.name %></h4>
    <ul>
      <li><b>Position:</b> <%= @contact.position %></li>
      <li><b>Email:</b> <%= @contact.email %></li>
      <li><%= link_to "Home", company_contacts_path(@company) %></li>
      <li><%= link_to "Edit", edit_company_contact_path(@company, @contact) %></li>
    </ul>
    <a href="/companies/<%=@company.id %>" class="btn btn-primary">Company</a>
  </div>
</div>
