<table class="table">
  <thead>
    <tr>
      <th><%= "Name" %></th>
      <th><%= "E-mail" %></th>
      <th><%= "Position" %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= contact.full_name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.position %></td>
    </tr>
  <tbody>
</table>
