<%= form_for @company, :html => {:class => "form-horizontal center"} do |f| %>
  <%= render partial: "shared/errors", locals: { target: @company } %>

  <div class="form-group">
    <%= f.label :name, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
