<div class='page-header'>
  <div class='btn-toolbar pull-right'>
        
    <%= link_to "New Company", new_company_path, class: "btn btn-default" %>
  </div>
  <h2>Companies </h2>
</div>

<% @companies.each do |company| %>
  <ul class=company_<%= company.id %>>
    <h3> <%= link_to company.name, company_path(company) %></h3> 
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <%= link_to "Edit", edit_company_path(company), class: "btn-sm btn-default" %>
      <%= link_to "Delete", company_path(company), method: "delete", class: "btn-sm btn-default",
      data: {confirm: "Are you sure? This will also delete all jobs and contacts associated with the company."} %>
      <br/><br/>
    </div>
  </ul>
<% end %>
