<%= render partial: "shared/default_navbar" %>

<h3 class="header2">All Companies</h3></br>

<div >
  <table class="tableSection tableTwo">
    <caption class="newCompany"><%=link_to "New Company", new_company_path %></caption>
    <tr><th>Company</th><th></th><th></th></tr>
    <% @companies.each do |company| %>
    <tr>
      <td><%= link_to "#{company.name} - #{company.city}", company_path(company) %></td>
      <td><%= link_to "Edit", edit_company_path(company) %></td>
      <td><%= link_to "Delete", company_path(company), method: "delete" %></td>
    </tr>
    <% end %>
  </table>

</div>
