<h2>All Companies</h2>

<%= link_to "New Company", new_company_path, class: "btn-sm btn-success"%>

<% @companies.each do |company| %>
  <ul class=company_<%= company.id %>>
    <h3> <%= link_to company.name, company_path(company) %></h3> 
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <%= link_to "Edit", edit_company_path(company), class: "btn-sm btn-warning" %>
      <%= link_to "Delete", company_path(company), method: "delete", class: "btn-sm btn-danger",
      data: {confirm: "Are you sure? This will also delete all jobs associated with the company."} %>
      <br/><br/>
    </div>
  </ul>
<% end %>


