<header>
  <h1>All Jobs for <%= @company.name.upcase %></h1>
  <div> <%= link_to "Edit", edit_company_path(@company) %> </div>
  <div> <%= link_to "Delete", company_path(@company), method: :delete, data: {confirm: "Are you sure you want to delete this company and all jobs and contacts associated?"} %> </div>
  <div> <%= link_to "Back to All Companies", companies_path %> </div>
  <div class="dashboard-link"> <%= link_to "Job Dashboard", companies_path %> </div>
  <div> <%= link_to "Add a Job", new_company_job_path(@company) %> </div>
  <div> <%= link_to "Add a Contact", new_company_contact_path(@company) %> </div>
</header>

<br />
<br />

<% @company.jobs.each do |job| %>
<div class="job-block">

    <div class="job-header">
      <div class="job_<%= job.id %>">
        <%= link_to job.title, company_job_path(@company, job) %><br />
        <%= link_to "Edit", edit_company_job_path(@company, job) %>
        <%= link_to "Delete", company_job_path(@company, job), method: :delete, data: {confirm: "Are you sure you want to delete this job?"} %>
      </div>
      <div>
        <%= job.city %>
      </div>

    </div>

    <div class="job-body">
      <div>
        <%= job.description %>
      </div>
      <div>
        <%= job.level_of_interest %>
      </div>
      <div>
        <%= link_to job.category.title, category_path(job.category) %>
      </div>
      <div>
        <%= @company.name %>
      </div>
    </div>

</div>
<br />
<br />
<% end %>


<br />
<p>
  ___________________________________________________________________________
</p>
<br />

<% @company.contacts.each do |contact| %>
<div class="contact-block">
  <div class="contact_<%= contact.id %>">
    <%= link_to "#{contact.first_name} #{contact.last_name}", company_contact_path(@company, contact) %><br />
    <%= link_to "Edit", edit_company_contact_path(@company, contact) %>
    <%= link_to "Delete", company_contact_path(@company, contact), method: :delete, data: {confirm: "Are you sure you want to delete this contact?"} %>
  </div>
  <div>
    Position: <%= contact.position %>
  </div>
  <div>
    Email: <%= contact.email %>
  </div>
</div>
<br />
<br />
<% end %>
