<h2>
  All Jobs for <strong><%= @company.name %></strong>
  <br><%= link_to "Add a job", new_company_job_path(@company) %>
  <br><%= link_to "Add a contact", new_company_contact_path(@company) %>
</h2>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Contacts</th>
      <th>Edit Company</th>
      <th>Delete Company</th>
    </tr>
  </thead>
  <tbody>
    <th scope="row" id="total entries"></th>
    <% @company.jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= @company.contacts %></td>
      <td><%= link_to "Edit", edit_company_path(company) %></td>
      <td><%= link_to "Delete", company_path(company), method: "delete" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
