<div class="page-header">
  <h2><%= @company.name %></h2>
</div>
<%= render partial: "companies/job" %>
<%= render partial: "jobs/form" %>
<%= render partial: "companies/contact" %>
<%= render partial: "contacts/form" %>
