<h3>All Categories</h3>

<% @categories.each do |category| %>
  <ul class=category_<%= category.id %>>
    <%= link_to category.title, category_path(category) %><br>
    <%= link_to "Edit", edit_category_path(category) %>
    <%= link_to "Delete", category_path(category), method: "delete" %>
  </ul>
  <br>
<% end %>
<%= link_to "New", new_category_path %>
