<h3>All Categories</h3>

<% @categories.each do |category| %>
  <ul class=category_<%= category.id %>
    <%= link_to category.title, category_path(category) %><br>
    <%= link_to "Edit", edit_category_path(category), class: "btn btn-edit" %>
    <%= link_to "Delete", category_path(category), method: "delete", class: 'btn btn-delete' %>
  </ul>
<% end %>

<h4><%= link_to "New Category", new_category_path, class: "btn btn-create_new" %></h4>
