<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', 'bootstrap', 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'boostrap', 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/default_navbar" %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

  <div class="container-fullwidth">
    <%= yield %>
  </div>
</body>
</html>
